html {overflow-y: scroll;}
.clearfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}

body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';
	text-align: left;
	font-size: 0.9em;
	line-height: 1.7em;
	letter-spacing: 0.02em;
	color: #000;
	margin:0;
	padding:0;
	background-color:#FFF;
}

.siteWrapper {
	width: 100%;
	margin: 0 auto;
	background-color:#FFF;
}


.button {
	width:250px;
	height:55px;
	margin: 0 auto;
	border: 2px solid #000;
	position:relative;
	top:250px;
	cursor:pointer;
	}

.button p {width:100%; text-align:center;}
	
